*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    background: grey;
    border: 2px solid red;
    border-radius: 5px;
    justify-content:space-evenly;
    padding: 10px;
    gap:10 px;
}

.it1{
    padding:10px;
    gap:10px;
    background:green;
    color:white;

}
.it2{
    padding:10px;
    gap:10px;
    background:green;
    color:white;

}
.it3{
    padding:10px;
    gap:10px;
    background:green;
    color:white;

}


@media(max-width:767px){
    .container{
        display: flex;
        flex-direction: column;
        background: yellow;
        border: 2px solid white;
        border-radius: 5px;
        justify-content:space-evenly;
        padding: 10px;
        gap:10 px;
    }
    
}